<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"><!-- подключение thymeleaf  -->
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href = "css/style.css"/>
    <title>Title</title>
</head>
<body>
<header class="header">
    <!-- Та же шапка -->
</header>

<main class="client-dashboard">
    <section class="create-task">
        <h2>Создать задание</h2>
        <form id="taskForm">
            <input type="text" placeholder="Название задания" required>
            <textarea placeholder="Описание" required></textarea>
            <input type="number" placeholder="Бюджет (₽)" required>
            <button type="submit" class="btn">Опубликовать</button>
        </form>
    </section>
<div>
    <p th:text="${id}"></p>
</div>
    <section class="my-tasks">
        <h2>Мои задания</h2>
        <div class="task-card">
            <h3>Разработка сайта</h3>
            <p>Бюджет: 50 000₽</p>
            <div class="offers">
                <p>Предложений: 3</p>
                <button class="btn">Посмотреть</button>
            </div>
        </div>
    </section>
</main>
</body>
</html>